html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 20px;
    text-decoration: underline;
    padding: 0 10px;
}

header{
    border-bottom: 1px solid greenyellow;
    padding: 20px;
}

nav a {
    margin: 0 10px;
}

.nav, .main {
    max-width: 1250px;
    margin: 0 auto;
    }

    .main{
        padding: 0 20px;
    }