:root {
  --color-1: red;
  --bg-color: #7bc8f5;
  --black-2: rgb(0, 0, 0);
  --border-color: #6d6605;
}

html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  padding: 0;
}

h1 {
  font-size: 20px;
  text-decoration: underline;
  padding: 0;
  margin: 10px 0;
}

h2 {
  font-size: 18px;
}

header {
  border-bottom: 1px solid greenyellow;
  padding: 20px;
}

nav a {
  margin: 0 10px;
}

.nav,
.main,
.footer {
  max-width: 1275px;
  margin: 0 auto;
}

.main,
.footer {
  padding: 0 20px;
  max-width: 1200px; /**will over ride the max-width of nav and main above*/
}
.sub-section p {
  color: var(--border-color);
}
.footer p {
  color: var(--black-2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 15px;
}
.grid2 {
  display: grid;
  /**grid-template-rows: 200px 200px 200px;**/
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid var(--color-1);
}

.grid-cell, .grid2-cell, .flex-item{
  height: 200px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--border-color);
}

.flex{
    display: flex;
    gap: 15px;
}

.flex-item{
    flex: 1;
}

/* flex ordering */
.flex-item:first-child{
    order: 3;
}

/* styling on mobile devices */
/* for both mobile and tablets - max width is 768px
for only mobiles, max width is 540px */
@media( max-width: 768px){
       .flex{
        flex-direction: column;
    }
    
}