:root{
    --color-1:red;
    --bg-color: #fafafa;
    --black-2: black;
}


html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

h1,h2{
    padding: 0;
}

h1{
    font-size: 20px;
    text-decoration: underline;
    padding: 0;
    margin: 10px 0;
}

h2{
    font-size: 18px;
}

header{
    border-bottom: 1px solid greenyellow;
    padding: 20px;
}

nav a {
    margin: 0 10px;
}

.nav, .main, .footer {
    max-width: 1275px;
    margin: 0 auto;
    }

    .main, .footer {
        padding: 0 20px;
        max-width: 1200px; /**will over ride the max-width of nav and main above*/
    }
    .sub-section p {
        color: var(--color-1);
    }
    .footer p{
        color: var(--black-2);
    }